<h1>Guess Details</h1>

<dl>
  <dt>First Number</dt>
  <dd><%= @first_num %></dd>

  <dt>Second Number</dt>
  <dd><%= @second_num %></dd>

  <dt>Third Number</dt>
  <dd><%= @third_num %></dd>

  <dt>Obey Rules?</dt>
  <dd><%= @obey_rule %></dd>
</dl>
