<h1>Add a new guess</h1>

<form action="http://localhost:3000/guesses/create_guess">
  <p>
    Enter a sequence:
  </p>

  <label for="first">First number:</label>
  <input id="first" type="text" name="first_number" placeholder="The first number">

  <label for="second">Second number:</label>
  <input id="second" type="text" name="second_number" placeholder="The second number">

  <label for="third">Third number:</label>
  <input id="third" type="text" name="third_number" placeholder="The third number">

  <button>
    Check
  </button>
</form>

<hr>
